
@font-face {
    font-family: 'Noto Sans TC';
    src: url("../font/NotoSansTC-Regular.otf ") format("opentype"),
          url("../font/NotoSansTC-Bold.otf ") format("opentype");

}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Noto Sans TC', sans-serif;
    margin-bottom: 50px;
    background-color: #EEEDEF;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
svg{
    float: left;
    padding: 13px 10px;
}
h1{
    font-weight: bold;
    font-size: 40px;
    margin: 23px 0px;
    color: rgb(0, 188, 212);
}
h2{
    font-size: 30px;
    color: rgb(0, 188, 212);
    margin: 15px 0px;
}
h5{
    font-weight: bold;
    display: inline;
}
code{
    font-family: Consolas, monaco, monospace;
    line-height: 1.3em;
}
a{
    color: rgb(0, 156, 177);
}
a:hover{
    color: rgb(87, 210, 226);
    transition: 0.5s;
}

.proj-list{
    border-collapse: collapse;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 3px;
    width: 100%;
}
.proj-list tr{
    border: 1px solid rgb(218, 218, 218);
    
}
.proj-list tr:hover{
    background: rgb(247, 247, 247);
}
.proj-list tr td{
    border: 1px solid rgb(218, 218, 218);
    padding:8px 0px;
    padding-left: 3%;   
}
.proj-list tr:first-child{
    width: 30%;
}
.proj-list tr:nth-child(2){
    width: 70%;
}
.nav-wrap{
    position: relative;
}
.nav{
    background: rgb(0, 188, 212);
    height: 50px;
    width: 100%;
    padding-left: 10px;
    position: fixed;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    overflow: auto;
    white-space: nowrap;
    top: 0px;
}

.nav a{
    display: inline-block;
    padding: calc((50px - 1em)/2) 15px;
    color: white;
    text-decoration: none;
    
}
.nav a:hover{
    background: rgb(33, 193, 214);
    transition: 0.5s;
    box-shadow: 0px -3px 0px #fff inset;
}
.nav a:active{

    transition: 0.5s;
}
.content{
    width:70%;
    margin: 0 auto;
    margin-top: 70px;
    background: #fff;
    padding: 0px 5%;
    padding-bottom: 25px;
    padding-top: 10px;
    box-shadow: 0px 1px 2px 1px #D3D2D3;
}
.info{
    line-height: 1.5em;
    
}
.info li h3{
    font-size: 25px;
    margin: 15px 0px;
}
.info li p{
    font-size: 17px;
}
.quote{
    padding-left: 20px;
    border-left: 3px solid rgb(0, 188, 212);
    color: rgb(161, 161, 161);
}
.hw-list{
    border-collapse: collapse;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 3px;
    width: 100%;
}
.hw-list tr{
    border: 1px solid rgb(218, 218, 218);
    
}
.hw-list tr:hover{
    background: rgb(247, 247, 247);
}
.hw-list tr td{
    border: 1px solid rgb(218, 218, 218);
    padding:8px 0px;
    padding-left: 3%;   
}
.hw-list tr td:first-child{
    width: 20%;
}
.hw-list tr td:nth-child(2){
    width: 20%;
}
.hw-list tr td:nth-child(3){
    width: 40%;
}
.hw-list a{
    color: rgb(0, 156, 177);
    text-decoration: none;
}
.hw-list a:hover{
    color: rgb(87, 210, 226);
    transition: 0.5s;
}

.res-list{
    border-collapse: collapse;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 3px;
    width: 100%;
}
.res-list tr{
    border: 1px solid rgb(218, 218, 218);
    
}
.res-list tr:hover{
    background: rgb(247, 247, 247);
}
.res-list tr td{
    border: 1px solid rgb(218, 218, 218);
    padding:8px 0px;
    padding-left: 3%;
}
.res-list tr td:first-child{
    width: 30%;
}
.res-list tr td:nth-child(2){
    width: 70%;
}

.res-list a{
    color: rgb(0, 156, 177);
    text-decoration: none;
}
.res-list a:hover{
    color: rgb(87, 210, 226);
    transition: 0.5s;
}
@media(max-width:1280px){
    .content{
        width:90%;
    }
    
}
@media(max-width:768px){
    .content{
        width:95%;
    }
    .res-list{
        border: 0px;
    }
    .res-list tr td{
        display: block;
        border: none;
        
    }
    .res-list tr td:first-child{
        width: 100%;
    }
    .res-list tr td:nth-child(2){
        width: 100%;
    }
    .proj-list{
        border: 0px;
    }
    .proj-list tr td{
        display: block;
        border: none;
        
    }
    .proj tr td:first-child{
        width: 100%;
    }
    .proj tr td:nth-child(2){
        width: 100%;
    }
}
.gotop{
    margin-left: 3px;
    margin-top: 2px;
}
#goTop{
    display: none;
    background: #26C6DA;
    border-radius: 99em;
    width:50px;
    height: 50px;
    position: fixed;
    bottom: 30px;
    right: 50px;
    z-index: 3;
    box-shadow: 0 3px 7px rgba(0,0,0,.26);
}
#goTop:hover{
    background: #00BCD4;
    transition: 0.5s;
}
code{
    font-family: Consolas, monaco, monospace, 'Noto Sans TC';
}

