html, body{
    padding: 0;
    margin: 0;
    background: #FFF;
}
.central{
    margin: 0 auto;
}
.clear{
    clear: both;
}
section{
    display: block;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100vh; /* != 100% fix mobile address bar */ 
    overflow: hidden;
}
.next-page{
    display: block;
    box-sizing: border-box;
    height: 3em;
    position: fixed;
    margin-left: -0.5em;
    padding-top: 10vh;
    bottom: 1vh;
    left: 50%;
    font-size: 5vh;
    transition: color 2s, padding 1s;
    color: white;
}
.black{
    color: black;
}
.bounce{
    animation: bounce 0.5s infinite alternate ease-out;
}

.page{
    overflow: hidden;
}
.bg{
    overflow: visible;
}
.bg::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    -webkit-filter: blur(10px); /* Safari */
    filter: blur(10px);
    z-index: -1;
}


@keyframes bounce{
    0%{ padding-top: 10vh; }
    100%{ padding-top: 0px; }
}