html, body{
    padding: 0;
    margin: 0;
    background: #000;
}
section{
    display: block;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
.next-page{
    display: block;
    box-sizing: border-box;
    height: 3em;
    position: fixed;
    margin: 0 auto;
    margin-left: -0.5em;
    padding-top: 0;
    bottom: 0;
    left: 50%;
    font-size: 5vh;
    color: white;
    animation: bounce 0.5s infinite alternate ease-out;
}

.page{
    overflow: hidden;
}
.bg{
    overflow: visible;
}
.bg::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    -webkit-filter: blur(10px); /* Safari */
    filter: blur(10px);
    z-index: -1;
}


@keyframes bounce{
    0%{ padding-top: 0px; }
    100%{ padding-top: 10vh; }
}