#page1 .bg::before{
    /*background-image: url("https://i.imgur.com/t3fqcOR.jpg");*/
}
.wave1, .wave2{
    width: 150vw;
    height: 100px;
    background-image: url("/img/future/wave.svg");
    background-size: contain;
    position: absolute;
    top: calc( 50vh + 1.5em );
    animation: wave 2s linear infinite normal;
}
.wave2{
    /*animation-delay: 1s;*/
    animation-duration: 5s;
    animation-direction: reverse;
    display: none;
}
#page1 h1{
    font-size: 5vh;
    color: white;
    background: rgba(0,0,0,0.5);
    height: 3em;
    max-width: 100%;
    padding-top: 1em;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    margin-top: calc( 50vh - 1.5em );
    border-radius: 0.2em;
}

@keyframes wave{
    0%{margin-left: 10px; margin-top: 0px;}
    12.5%{margin-left: 7.07px; margin-top: 7.07px;}
    25%{margin-left: 0px; margin-top: 10px;}
    37.5%{margin-left: -7.07px; margin-top: 7.07px;}
    50%{margin-left: -10px; margin-top: 0px;}
    62.5%{margin-left: -7.07px; margin-top: -7.07px;}
    75%{margin-left: 0px; margin-top: -10px;}
    87.5%{margin-left: 7.07px; margin-top: -7.07px;}
    100%{margin-left: 10px; margin-top: 0px;}
}