#page2 .bg::before{
    background: #FFF;
    filter:none;
}

#page2 p{
    width: 16em;
    font-size: 30px;
    margin-top: calc( 50vh - 10.5em);
    line-height: 1.3em;
}

@media only screen and (max-width: 960px){
    #page2 p{
        font-size: 5vw;
        width: 16em;
    }
}