#story2 .bg::before{
    background: #1A1A1A;
    filter:none;
}

#story2 p{
    width: 15em;
    font-size: 30px;
    margin-top: calc( 50vh - 8em);
    line-height: 1.3em;
    color: white;
}

@media only screen and (max-width: 960px){
    #story2 p{
        font-size: 5vw;
        width: 15em;
    }
}